html,body{
  overflow: inherit;
}
#chakra-modal-menu-drawer {
  min-width: 350px;
}
.menu-item {
  margin: 10px 0 20px 0;
  justify-content: space-between;
  padding: 10px 0;
  transition: color 0.2s;
}
.menu-item:hover, .menu-link:hover {
  cursor: pointer;
  color: #1990FF;
}